*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
div,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	color:#fcfcfc;
	background-color:#355664;
	font-family: "Comic Sans MS", Helvetica, sans-serif;
}



nav{
	//background:url(img/gradient_light.jpg) repeat-x 50% 50% #f8f8f8;
	padding:0 10px 0 10px;
	position:absolute;
	width : 100%;
	top:6em;
	font-size: 18px;
	//border:1px solid #FCFCFC;

	
}


/* The navigation styling: */

nav ul li{
	display:inline;
}


#page{
	width:1024px;
	margin:0 auto;
	position:relative;
}


div#container{
	background-color:#213E4A;
	margin:3em 0;
	padding:20px;
	height: auto;
	text-shadow:0 2px 0 black;
}

 . .css1 { font-size: 1.0em; }
  .css2 { font-size: 1.2em; }
  .css3 { font-size: 1.4em; }
  .css4 { font-size: 1.6em; }
