

<h2> Welcome back,<%= current_user.email %></h2>

<br/><br/>

<% if current_user.albums.empty? %>

  <i>You Have 0 Albums.</i>
  <br/><br/>
  
  <%= link_to "Create a New Album", new_album_path %>
  
<% else %>

  <i>You Have <%= current_user.albums.count %> Albums.</i>
  <br/><br/>
  Click on Albums to View/Edit them.
  <br/><br/>
  
  Want to <%= link_to "Create a New Album" , new_album_path %>
  
 <% end %>
