<% content_for :content do %>
      
  <div>
     <% if !user_signed_in? %>
         <h2>WELCOME TO THE ALBUM APPLICATION</h2> 
        <br/><br/>
        <b> Click Here to <%= link_to "Login" , new_user_session_path %> </b>
     <% else %>
        
        <%=  render "landing_page" %>  
     <% end %>
  </div>
    
<% end %>
